.one{
    background-color: #080402 !important;
}
.two{
    background-color: #080402 !important;
}
.three{
    background-color: #080402 !important;
}
.four{
    background-color: #080402 !important;
 }
.heading a{
    color:whitesmoke!important;
}
.con{
    background-color: #160D08 !important;
}
.warning{
    background-color: #28231D !important;
}
.text{
    color: whitesmoke;!important;
}
body{
    background-color: #040406!important;
}
